/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffc2a0;
  background-size: cover;
}
.card-container {
  border-radius: 10px;
  margin: 10px;
  background-color: #ffffff;
}
.heading {
  text-align: center;
  color: #ff8542;
}
